/* CSS pour la page en général */

html {
    color: black;
    background-color: #17202A;
    font-family: 'Ubuntu', sans-serif;
    margin:0;
    padding:0;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

hr{
    height: 1px;
    background-color: #00ff00;
    border: none;
}

img {
    border-radius: 10%;
}

/* li {
    margin: 10px;
} */

.green_text {
    color:#00ff00;
    font-weight: bold;
    text-decoration: none;
}

section .title2{
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

section .title{
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline;
}

main section div{
    display: inline-block;
}

div.text {
    display: top;
    vertical-align: top;
}

.link {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Header qui sert de barre de navigation*/

header ul {
    list-style-type: none;
    background-color: #000;
    font-size: 25px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
  
header .menu li {
    margin-top: 4px;
    color: #fff;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
}

header .menu li.button:hover:not(.active){
    font-weight: bold;
}

.active {
    background-color: #04aa6d;
}

header .menu li img{
  height: 35px;
}

header .menu li a{
    text-decoration: none;
    color: #fff;
}

header .menu li.title {
    margin-top: 5px;
}

header .menu li div.vertical_line {
    border-left: 4px solid #00ff00;
    height: 32px;
}

header .menu li.slogan {
    margin-top:6px;
    font-size: 22px;
    font-style: italic;
    float: right;
}

header .menu .horizontal-line {
    border-bottom: 4px solid #00ff00;
    height: 68px;
    float: none;
}

/* #first */

main section#first {
    float: none;
    height:100%;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 45px;
    margin-bottom: 15px;
    color:#fff;
    padding: 15px;
    border: solid 5px #00ff00;
    border-radius: 20px;
    background-color: #424949;
    font-size: 20px;
    text-align: center;
}

main #first .welcome {
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

/* #description */

main section#description {
    float: none;
    height:100%;
    margin-left: 550px;
    margin-right: 550px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#fff;
    padding: 15px;
    padding-top: 10px;
    border: solid 5px #00ff00;
    border-radius: 20px;
    background-color: #424949;
    font-size: 20px;
    text-align: center;
}

/* pour tous les blocks de gauche*/

main section#left {
    float: left;
    height:100%;
    margin-left: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#fff;
    padding: 15px;
    padding-top: 10px;
    border: solid 5px #00ff00;
    border-radius: 20px;
    background-color: #424949;
    font-size: 20px;
    text-align: center;
    width: max-content;
}

/* pour tout les blocs de droite*/

main section#right {
    float: right;
    height:100%;
    margin-right: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    color:#fff;
    padding: 15px;
    padding-top: 10px;
    border: solid 5px #00ff00;
    border-radius: 20px;
    background-color: #424949;
    font-size: 20px;
    text-align: center;
    width: max-content;
}

/* images dans chaque section de chaque page */

/* images de langage.html */

/* image sur le python */

.img_python{
    margin: 15px;
    margin-top: 125px;
    margin-right: 0;
}

.img_python img{
   width: 200px;
}

/* image sur le javascript */

.img_js{
    margin: 15px;
    margin-top: 65px;
    margin-left: 0;
}

.img_js img{
   width: 200px;
}

/* image sur le php */

.img_php{
    margin: 15px;
    margin-top: 75px;
    margin-right: 0;
}

.img_php img{
   width: 350px;
}

/* image sur le sql */

.img_sql{
    margin: 15px;
    margin-top:120px;
    margin-left: 0;
}

.img_sql img{
   width: 300px;
}

/* image sur le c */

.img_c{
    margin: 15px;
    margin-top: 100px;
    margin-right: 0;
}

.img_c img{
   width: 250px;
}

/* images de os.html */

/* image de kali linux */

.img_kali{
    margin: 15px;
    margin-top:120px;
    margin-left: 0;
}

.img_kali img{
   width: 300px;
}

/* image de parrot OS */

.img_parrot{
    margin: 15px;
    margin-top: 100px;
    margin-right: 0;
}

.img_parrot img{
   width: 250px;
}

/* image de backbox */

.img_backbox{
    margin: 15px;
    margin-top:120px;
    margin-left: 0;
}

.img_backbox img{
   width: 200px;
}

/* image de blackarch */

.img_blackarch{
    margin: 15px;
    margin-top: 100px;
    margin-right: 0;
}

.img_blackarch img{
   width: 250px;
}

/* image de fedora */

.img_fedora{
    margin: 15px;
    margin-top:120px;
    margin-left: 0;
}

.img_fedora img{
   width: 200px;
}

/* images de breach.html */

/* Footer */

footer{
    display: inline-block;
    margin: 0;
    margin-top: 15px;
    padding: 5px;
    color: #00ff00;
    background-color: #000;
}

footer{
    width: 100%;
    display: inline-block;
}

footer div {
    color: #fff;
    float: left;
}

footer div ul{
    list-style-type: none;
    margin: 25px;
    padding: 0;
}

footer div ul li {
    padding-bottom: 5px;
    padding-top: 5px;
}

footer div ul li div.horizontal-line{
    border: none;
    border-top: solid 3px #00ff00;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer a.github{
    float: right;
}

footer a img{
    width: 70px;
    margin-right: 25px;
    margin-top: 50px;
    margin-bottom: auto;
}
/* 
@media screen and (max-width: 800px) {
    header .menu li img {
        height: 1000px;
    }
} */
